html, body {
  height: 100%;
}

body {
  padding-top: 51px;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Lily Script One', cursive;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -65px;
  padding:0 0 85px 0;
}


.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-image: url('../images/jumbotron-back.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.jumbotron h1 {
  text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.navbar-fixed-top {
  opacity:0.94;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.posts .end {
  padding-bottom:20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom:10px;
}

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

ul.posts {
  list-style: none;
  list-style-position:inside;
  margin:0;
  padding:0; }

.contacts {
  font-size: 150%;
}

.footer {
  height: 65px;
  clear:both;
  color: #777;
  background-color: #eee;
  border-top: 2px solid #333; 
}

.footer p {
  padding-top:15px;
  line-height: 20px;
  font-size: 13px;
}

.jumbotron {
  border-bottom: 4px solid #333;
}

@media (min-width: 768px) {
  .container-narrow {
    max-width: 768px;
  }

  /* Remove the padding we set earlier */
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

}