<div class="hidden-xs">
  <div id="small-header">
    {% if page.previous %}
    <div class="pull-right">
      Next: <a href="{{ BASE_PATH }}{{ page.previous.url }}">{{ page.previous.title }} <span class="glyphicon glyphicon-chevron-right"></span></a></div>
    {% endif %}

    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="container container-narrow">
  <div class="page-header">
    <div class="row">
      <div class="col-md-8">
        <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
      </div>

      <div class="col-md-4">
        {% if page.image %}
        <img src="{{ site.url }}/assets/images/{{page.image}}" class="img-responsive img-thumbnail"/>
        {% else %}
        <img src="{{ site.url }}/assets/images/article.gif" class="img-responsive img-thumbnail"/>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row post-full">
    <div class="col-md-12">
      <div class="date">
        <span>{{ page.date | date_to_long_string }}</span>
      </div>
      <div class="content">
        {{ content }}
      </div>

    {% unless page.categories == empty %}
      <ul class="tag_box inline">
        <li><i class="icon-folder-open"></i></li>
        {% assign categories_list = page.categories %}
        {% include JB/categories_list %}
      </ul>
    {% endunless %}

    {% unless page.tags == empty %}
      <ul class="tag_box inline">
        <li><i class="icon-tags"></i></li>
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
      </ul>
    {% endunless %}

      <hr/>

      <div class="post-sharing">
      {% include JB/sharing %}
      </div>

      <ul class="pagination">
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
      <hr>
      {% include JB/comments %}
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ BASE_PATH }}/assets/themes/twitter/js/google-code-prettify/prettify.js"></script>
